@media (-moz-bool-pref: "mod.devdinc.hide-navbar.enabled") {
  @media (-moz-bool-pref: "mod.devdinc.hide-navbar.animation.enabled") {
    /* Transition defaults for all toolbar elements */
    #nav-bar,
    #zen-sidebar-top-buttons {
      transition:
        height 0.3s ease,
        max-height 0.3s ease,
        min-height 0.3s ease,
        transform 0.3s ease,
        margin 0.3s ease;
    }
  }
  :root {
    .browserContainer {
      --margin-top-fix: 0 !important;
    }
    #urlbar-container {
      background: none !important;
    }
  }
  :root:not([zen-single-toolbar="true"]) #zen-appcontent-navbar-wrapper:not([zen-has-hover]),
  :root[zen-single-toolbar="true"] {
    #nav-bar,
    #zen-sidebar-top-buttons {
      margin-top: -100px !important;
      --zen-toolbar-height: calc(var(--zen-element-separation) + 100px) !important;
      margin-bottom: 0 !important;
    }
  }
}
