#zen-context-menu-compact-mode-hide-toolbar[disabled="true"] {
  display: block;

  & label,
  & img {
    display: none !important;
  }

  &::before,
  &::after {
    display: block;
    font-size: 0.95rem;
    line-height: 1.0;
    width: 100%;
    
    white-space: pre-wrap;
  }

  &::before {
    content: "Native Hide Toolbar mode is disabled.\A\A\
To achieve a similar effect, try:";
    color: rgba(200, 200, 0, 0.8);
  }

  &::after {
    content: "Toggling the 'enable the mod' setting in Hide Toolbar mod settings off then on.\A\A\
Enabling 'Hide both' below here with compact mode disabled.";
    padding-left: 5px;
    margin-top: 10px;
    border-left: 2px solid rgba(0,0,0,0.4);
  }
}


@media (-moz-pref("zen.view.compact.hide-toolbar", true)) { /* zen default hide toolbar */
  /* -- Backup hiding styles -- */
  :root {
    --margin-top-fix-hide: calc((var(--zen-toolbar-height-with-bookmarks) + 50px) + var(--mod-devdinc-hide-navbar-element-seperation));
    --margin-top-fix-hide-reverse: calc(-1 * (var(--zen-toolbar-height-with-bookmarks) + 50px));
    
    /* Hidden and non hidden state */
    
    #nav-bar,
    #zen-sidebar-top-buttons {
      will-change: margin, height;
      @media (-moz-pref("mod.devdinc.hide-navbar.animation.enabled", true)) {
        transition:
          margin var(--zen-hidden-toolbar-transition),
          min-height var(--zen-hidden-toolbar-transition),
          max-height var(--zen-hidden-toolbar-transition),
          height var(--zen-hidden-toolbar-transition) !important;
      }
    }
    
    #PersonalToolbar { 
      will-change: margin;
      @media (-moz-pref("mod.devdinc.hide-navbar.animation.enabled", true)) {
        transition:
          min-height 170ms ease-out,
          max-height 170ms ease-out,
          var(--ext-theme-background-transition),
          margin var(--zen-hidden-toolbar-transition) !important;
      }
    }
    
    #titlebar, #navigator-toolbox {
      will-change: height, background-color;
      @media (-moz-pref("mod.devdinc.hide-navbar.animation.enabled", true)) {
        transition:
          min-height var(--zen-hidden-toolbar-transition),
          max-height var(--zen-hidden-toolbar-transition),
          all var(--zen-hidden-toolbar-transition) !important;
      }
    }
    
    /* make it hover over */
    &:not([zen-compact-mode="true"]):not([zen-single-toolbar="true"]) .browserContainer { 
      margin-top: calc(var(--zen-toolbar-height-with-bookmarks) * -1);
    }
  }
  
  /* --- Hide logic --- */
  /* compact mode = true is handled by zen native hide toolbar so we skip it */
  :root:not([zen-compact-mode="true"]):not([zen-single-toolbar="true"]) #browser:has(> #zen-appcontent-wrapper #zen-appcontent-navbar-wrapper:not([zen-has-hover])),
  
  :root[zen-compact-mode="true"][zen-single-toolbar="true"] #navigator-toolbox:has(> #titlebar:not(:hover), > #titlebar > #TabsToolbar:hover),
  :root:not([zen-compact-mode="true"])[zen-single-toolbar="true"] #navigator-toolbox:is(:not(:hover), :has(> #titlebar > #TabsToolbar:hover)) {
    
    #nav-bar,
    #zen-sidebar-top-buttons {
      margin-top: var(--margin-top-fix-hide-reverse) !important;
      --zen-toolbar-height: var(--margin-top-fix-hide) !important;
    }
    
    /* only on non single toolbar */
    
    #PersonalToolbar { 
      margin-top: calc((var(--zen-toolbar-height-with-bookmarks) + 1px - var(--zen-toolbar-height)) * -1) !important;
    }
    
    /* hides the padding between top of browser and tabs */
    #titlebar, #navigator-toolbox  {
      --zen-toolbar-height: 0px !important; /* important is not needed for titlebar but is needed for navigator-toolbox */
    }
    
    /* hover over */
    .browserContainer {
      margin-top: calc(var(--mod-devdinc-hide-navbar-element-seperation) * -1);
    }
  }
}
