
@media (-moz-bool-pref: "zen.theme.pill-button") {
  #PanelUI-zen-workspaces-list > toolbarbutton {
    &.zen-workspace-button[active="true"] .zen-workspace-icon::before {
      background-color: transparent !important;
    }
  }

#PanelUI-zen-workspaces-list > toolbarbutton {
    & .zen-workspace-icon {
      border: 3px solid var(--zen-colors-border) !important;
    }
  }
  #PanelUI-zen-workspaces-list > toolbarbutton {
    &.zen-workspace-button[active="true"] .zen-workspace-icon {
      border: 3px solid var(--toolbarbutton-icon-fill-attention) !important;
    }
  }
}
