
.tab-icon-overlay {
  opacity: 1 !important;
  margin: initial !important;
  margin-right: 32px !important;
  transform: translate(120%, 30%) scale(1.6) !important;
  color: light-dark(black, white) !important;
  background-color: transparent !important;
  transition: 0.3s !important;
}

.tab-icon-overlay:hover {
  color: var(--zen-primary-color) !important;
  transition: 0.3s !important;
}

.tab-icon-overlay:is([soundplaying], [muted]):not([selected]) {
  display: block !important;
}

/* Hide sound labels */
.tab-icon-sound-label, 
.tab-icon-sound-playing-label {
  display: none !important;
}

/* Mute button takes place of tab icon when tabs are not expanded */
@media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
  .tab-icon-overlay {
    margin: auto 30px !important;
    transform: translate(-35%, 32%) scale(1.6) !important;
  }
}
