.tab-icon-overlay {
    opacity: 1 !important;
    margin: initial !important;
    border: none !important;
    margin-right: 32px !important;
    transform: translate(120%, 50%) scale(1.5) !important;
    background-color: transparent !important;
    fill: light-dark(black, white) !important;
    transition: 0.2s;

    &:hover {
        fill: var(--zen-primary-color) !important;
        transition: 0.2s;
    }

    &:is([soundplaying], [muted]):not([selected]) {
        display: block !important;
    }
}

/* Mute button takes place of tab icon when tabs are not expanded */
@media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
    .tab-icon-overlay {
        margin: 0px !important;
        transform: translate(-35%, 50%) scale(1.5) !important;
    }

    .tabbrowser-tab:is([soundplaying], [muted]) .tab-icon-image {
        display: none !important;
    }
}
