#urlbar {
  @media -moz-pref("mod.ivaon.urlbar.hide_results", "0") {
    &:not([usertyping], [searchmode])>.urlbarView {
      display: none !important;
    }
  }
  #urlbar-results div.urlbarView-row[row-selectable][type="top_site"] {
    @media -moz-pref("mod.ivaon.urlbar.hide_results", "0"), -moz-pref("mod.ivaon.urlbar.hide_results", "1") {
      & {
        display: none !important;
      }
    }
    @media -moz-pref("mod.ivaon.urlbar.hide_results", "2") {
      &:not([pinned]) {
        display: none !important;
      }
    }
  }
}
