
/*Nyan Cat and Friends*/

@media (-moz-bool-pref: "z0.catto.nyancats") {
  #TabsToolbar {
    overflow: hidden !important;
  }

#zen-sidebar-icons-wrapper:before {
    content: "";
    position: absolute;
    bottom: 100%;
    right: -205%;
    animation: autoRun 5s linear infinite;
    width: 200%;
    height: 60%;
    background-image: url("https://media.tenor.com/AO6SLyoIk3sAAAAi/%D0%BD%D1%8F%D0%BD%D0%BA%D0%B5%D1%82%D0%BB%D0%B2.gif"),
      url("https://media.tenor.com/VrZKjGxIIiAAAAAi/123.gif"),
      url("https://media.tenor.com/tpEn9Nhx-OEAAAAi/cat-wow.gif"),
      url("https://media.tenor.com/kb2qWxydQigAAAAi/chenille-catarpillar.gif");
    background-size: contain, contain, contain, contain;
    background-repeat: no-repeat;
    background-position-x: 0, 60px, 120px, 160px;
    background-position-y: 0, 0, 0;
  }

@keyframes autoRun {
    from {
      right: 0%;
    }
    to {
      right: -205%;
    }
  }
}

/*Nyan Cat and Friends*/

/* Bongo Cat Start */
@media (-moz-bool-pref: "zen.view.compact") {
  @media (-moz-bool-pref: "z0.catto.bongocat") {
    #navigator-toolbox:before {
      position: relative;
      top: 8px;
      right: 50%;
      transform: translateX(50%);
      width: 200px;
      height: 40px;
      z-index: 1;
      content: "";
      font-size: 20px;
      text-align: center;
      background-image: url("https://media.tenor.com/ZZu2QC-efdUAAAAi/cute-cat-white.gif");
      background-size: contain;
      background-repeat: no-repeat;
      background-position-x: center;
      overflow: visible;
      pointer-events: none;
    }
  
  /* Bongo Cat End */
  /* Reduce the Size */
 #navigator-toolbox {
    --zen-navigation-toolbar-min-width: 100px !important;
    padding-top: 12.5vh !important;
    height: 85vh !important;
  }
 }
}
