@media not (-moz-bool-pref: "zen.view.sidebar-expanded") {
	.tabbrowser-tab:is([soundplaying], [muted]) {
		& .tab-background::after {
			content:'';
			position: absolute;
			width: 4px !important;
			border-radius: 4px !important;
			height: 66.66% !important;
			top: 50%;
			left: calc(100% - 4px) !important;
			transform: translateY(-50%);
			background-color: var(--zen-primary-color) !important;
		}
	
		&:not([selected='true']) .tab-background::after{
			height: 33.33% !important;
		}
		
		&:not([selected='true']):hover .tab-background::after{
			height: 66.66% !important;
		}
	}
}
