@media (-moz-bool-pref: "uc.minimal-sidebar.hide-alltabs-button.enabled") {
  #alltabs-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-newtab-button.enabled") {
  #vertical-tabs-newtab-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-profile-button.enabled") {
  #zen-profile-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-expand-sidebar-button.enabled") {
  #zen-expand-sidebar-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-bookmark-button.enabled") {
  #zen-bookmark-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-history-button.enabled") {
  #zen-history-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-preferences-button.enabled") {
  #zen-preferences-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-sidepanel-button.enabled") {
  #zen-sidepanel-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.compact-spacing.enabled") {
  #zen-sidebar-icons-wrapper {
    padding-top: 0px !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.hide-sidebar.enabled") {
  #zen-sidebar-icons-wrapper {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.minimal-sidebar.fix-sidebar-width.enabled") {
  #TabsToolbar-customization-target {
    height: 100%;
    min-width: var(--zen-sidebar-action-button-width);
  }
}
