#zen-appcontent-navbar-container {
  --urlbar-height: unset;
  transition: 0.2s ease-in-out;
  transform: translateY(calc(-85% + var(--zen-element-separation)));
  opacity: 0;
  position: absolute;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom: 1px solid var(--zen-colors-border);
  top: 0;
  background: var(--zen-colors-tertiary);
  z-index: 2;
  left: 0;
  transition: 0.2s ease-in-out;
}

#zen-appcontent-navbar-container:hover,
#zen-appcontent-navbar-container:focus-within,
#zen-appcontent-navbar-container[zen-user-show],
#mainPopupSet:has(> #appMenu-popup:hover) ~ #zen-appcontent-navbar-container,
#zen-appcontent-navbar-container:has(*[open="true"]) {
  transform: translateY(0);
  opacity: 1;
}

@media (-moz-bool-pref: "uc.only-top-bar-compact.top-margin-on-reduced.enabled") {
  :root:not([inDOMFullscreen="true"])
    #tabbrowser-tabbox
    #tabbrowser-tabpanels
    .browserSidebarContainer {
    margin-top: var(--zen-element-separation) !important;
  }
}

#titlebar {
  padding-top: 5px !important;
}

#zen-sidebar-web-panel-wrapper {
  margin-top: 10px !important;
}
