
/* Decrease the minimum width of the tab sidebar */
@media (-moz-bool-pref: "zen.view.sidebar-expanded") {  
   #navigator-toolbox {
     --zen-navigation-toolbar-min-width: 115px !important;
  }
}

/* Decrease the minimum height of tabs */
@media (-moz-bool-pref: "uc.sidebar.compact-tabs") {
  .tabbrowser-tab {
    --tab-min-width: 20px !important;
  }
}   

@media (-moz-bool-pref: "uc.sidebar.hide-expand") {
  #zen-expand-sidebar-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.sidebar.hide-history") {
    #zen-history-button {
      display: none !important;
  }
}

@media (-moz-bool-pref: "uc.sidebar.hide-profile") {
    #zen-profile-button {
      display: none !important;
    }
 }

@media (-moz-bool-pref: "uc.sidebar.hide-bookmark") {
  #zen-bookmark-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.sidebar.hide-preferences") {
  #zen-preferences-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.sidebar.hide-sidepanel") {
  #zen-sidepanel-button {
    display: none !important;
  }
}

@media (-moz-bool-pref: "uc.sidebar.hide-alltabs") {
  #alltabs-button {
    display: none;
  }
}