
:root:not([zen-single-toolbar="true"]) #nav-bar {
  margin: 0.4rem 0;
  margin-bottom: 0.4rem !important;
}

:root:not([zen-single-toolbar="true"]):not([zen-compact-mode="true"]) #TabsToolbar-customization-target {
  margin-top: 0.8rem;
}

:root:not([zen-single-toolbar="true"]) #PersonalToolbar:not([collapsed="true"]) {
  margin-bottom: 0.2rem;
}

:root[zen-single-toolbar="true"] #PersonalToolbar:not([collapsed="true"]) {
  margin: 0.2rem 0;
}

:root:not([zen-compact-mode="true"])[zen-sidebar-expanded="true"] #zen-sidebar-bottom-buttons {
  margin-bottom: 0.3rem;
}

:root:not([zen-compact-mode="true"]):not([zen-sidebar-expanded="true"]) #zen-sidebar-bottom-buttons {
  margin-bottom: 1rem;
}
