@media (-moz-bool-pref: "zen.tabs.vertical") {

  /* COLORS of pinned tabs */
  @media (-moz-bool-pref: "uc.pins.bg-color.pop") and (not (-moz-bool-pref: "uc.pins.disable-bg-color")) {
    /* background color of pinned tabs in a normal state (not hovered/selected) */
    .tabbrowser-tab[pinned] {
      background-color: light-dark(hsl(from var(--zen-primary-color) h 70% 92%), hsl(from var(--zen-primary-color) h 25% 15%)) !important;
      border-radius: 8px !important;
    }
    /* background color when hovering */
    .tabbrowser-tab[pinned]:hover{
      background-color: light-dark(hsl(from var(--zen-primary-color) h 70% 90%), hsl(from var(--zen-primary-color) h 25% 17%)) !important;
    }
    /* background color when selected */
    .tabbrowser-tab[pinned][selected="true"],
    .tabbrowser-tab[pinned][multiselected="true"] {
      background-color: light-dark(hsl(from var(--zen-primary-color) h 70% 85%), hsl(from var(--zen-primary-color) h 25% 28%)) !important;
    }
    /* background color when hovering and selected */
    .tabbrowser-tab[pinned][selected="true"]:hover,
    .tabbrowser-tab[pinned][multiselected="true"]:hover{
      background-color: light-dark(hsl(from var(--zen-primary-color) h 70% 83%), hsl(from var(--zen-primary-color) h 25% 30%)) !important;
    }
  }
    
  /* Makes pinned tabs transparent */
  @media (-moz-bool-pref: "uc.pins.disable-bg-color") {
    .tabbrowser-tab[pinned]:not(:hover):not([selected="true"]) {
      background-color: transparent !important;
    }
  }
  
  /* Make new tabs button transparen */
  @media (-moz-bool-pref: "uc.new-tab-button.transparent") {
    #vertical-tabs-newtab-button:not(:hover) {
      background-color: transparent !important;
    }
  }
  
  /* Make gap between new tabs button and pins consistent */
  #vertical-tabs-newtab-button {
    margin-top: 5px !important;
  }
  
  /* Make pinned tabs taller when toggled */
  @media (-moz-bool-pref: "uc.pins.tall") and (-moz-bool-pref: "zen.view.sidebar-expanded") and (not (-moz-bool-pref: "zen.view.sidebar-expanded.on-hover")){
    .tabbrowser-tab[pinned] { 
      min-height: 43px !important;
    }
  }  
  
  /* Set margin between pinned tabs on toggle */
  @media (-moz-bool-pref: "uc.pins.margins.compact") {
    :root {
      --pins-gap: 5px;
    }
  }
  @media (not (-moz-bool-pref: "uc.pins.margins.compact")) {
    :root {
      --pins-gap: 10px;
    }
  }

  /* Increase width of pinned tabs */
  @media (not (-moz-bool-pref: "uc.pins.wide.disabled")) and (-moz-bool-pref: "zen.view.sidebar-expanded") and (not (-moz-bool-pref: "zen.view.sidebar-expanded.on-hover")) { 
    #vertical-pinned-tabs-container {
      grid-template-columns: repeat(auto-fit, minmax(68px, auto)) !important;
      gap: var(--pins-gap) var(--pins-gap) !important;
    }
  }

  /* Increase width of pinned tabs when expand on hover toggled */
  @media (-moz-bool-pref: "zen.view.sidebar-expanded") and (not (-moz-bool-pref: "uc.pins.wide.disabled")) {  
    #navigator-toolbox:is(
      #navigator-toolbox[zen-user-hover="true"]:hover,
      #navigator-toolbox[zen-user-hover="true"]:focus-within,
      #mainPopupSet[zen-user-hover="true"]:has(> #appMenu-popup:hover) ~ toolbox,
      #navigator-toolbox[zen-user-hover="true"]:has(*[open="true"]:not(tab):not(#zen-sidepanel-button)), 
      :not([zen-user-hover="true"])) {
        #vertical-pinned-tabs-container {
          grid-template-columns: repeat(auto-fit, minmax(68px, auto)) !important;
          gap: var(--pins-gap) var(--pins-gap) !important;
        }
        @media (-moz-bool-pref: "uc.pins.tall") {
          .tabbrowser-tab[pinned] { 
            min-height: 43px !important;
          }
        }
    }
  }
  
  /* Hides the separator line between pinned tabs and normal ones if toggled */
  @media (-moz-bool-pref: "uc.separator-line.hide") {
    #newtab-button-container::before {
      width: 0 !important;
    }
  }
  
  /* Move workspace button to the bottom if enabled when toggled on */
  @media (-moz-bool-pref: "uc.workspace-button.move-to-bottom") {
    #zen-workspaces-button {
      order: 1;
      margin-bottom: auto !important;
    }
    @media (-moz-bool-pref: "zen.view.sidebar-expanded") {
      .tabbrowser-tab[pinned] {
        margin-top: 0px !important;
        margin-bottom: var(--pinned-tabs-gap) !important;
      }
    }
  }
  
  /* Remove the border of the workspace button if enabled when toggled on */
  @media (-moz-bool-pref: "uc.workspace-button.remove-border") {
    #zen-workspaces-button {
      border: hidden !important;
    }
  }
}
