& #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.5) !important;
}

#tabbrowser-tabpanels[zen-split-view='true'] .browserSidebarContainer.deck-selected {
  outline: 2px solid color-mix(in srgb, var(--zen-primary-color) 50%, transparent) !important;
}
