& #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 6px 20px rgba(0, 0, 0, 0.1) !important;
  --uc-tweak-rounded-corners-shadow-color: #141515 !important;
}

#tabbrowser-tabpanels[zen-split-view="true"]
  .browserSidebarContainer.deck-selected {
  outline: 2px solid
    color-mix(in srgb, var(--zen-primary-color) 50%, transparent) !important;
}
