
/* Always show New Tab button */
#tabbrowser-arrowscrollbox-periphery {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--zen-main-browser-background-toolbar);
  width: var(--zen-sidebar-width) - 5;
  z-index: 10;
}
