
.browserStack browser{
		transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.1s !important;
}

.browserStack:has(#historySwipeAnimationPreviousArrow:not([style="translate: none;"]  )) browser  {
	scale: 0.95 !important;
	transform: translateX(3%) !important;    
	border-radius: 2em !important;
}

.browserStack:has(#historySwipeAnimationNextArrow:not([style="translate: none;"]  )) browser  {
	scale: 0.95 !important;
	transform: translateX(-3%) !important;  
	border-radius: 2em !important;
}
