/* Reduce width */
@media (-moz-bool-pref: "zen.view.sidebar-expanded") {
  #navigator-toolbox {
    --zen-navigation-toolbar-min-width: 100px !important;
  }
}

/* Reduced height */
@media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
  :root[zen-compact-mode="true"] #navigator-toolbox {
    top: 50% !important;
    transform: translateY(-50%) !important;
    height: calc(var(--theme-smaller_compact_mode-sidebar_height) * 1vh) !important;
  }
}
