
/* Reduce width */
@media (-moz-bool-pref: "zen.view.sidebar-expanded") {  
    #navigator-toolbox {
      --zen-navigation-toolbar-min-width: 100px !important;
   }
 }
 
/* Reduced height */
@media (-moz-bool-pref: "zen.view.compact") {
     #navigator-toolbox {
         padding-top: 12.5vh !important;
         height: 85vh !important;
     }
}
