
/* Reduce width */
@media (-moz-bool-pref: "zen.view.sidebar-expanded") {  
    #navigator-toolbox {
      --zen-navigation-toolbar-min-width: 100px !important;
   }
 }
 
/* Reduced height */
@media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
     :root[zen-compact-mode="true"] #navigator-toolbox {
        margin-top: 9.375vh !important;
        height: 75vh !important;
     }
}