#tabbrowser-tabpanels {
    padding-right: 0px!important;
    padding-bottom: 0px!important;

    #browser:has(#navigator-toolbox[zen-right-side='true']) & {
      padding-right: 0;
      padding-left: 0px!important;
    }
}

:root:not([inDOMFullscreen='true']) #tabbrowser-tabbox {
  padding: 0px!important; /* To allow the web view's shadow to be visible */
}

/* NOT WORKING! */
#browser,
#appcontent,
#tabbrowser-tabpanels {
  background: -moz-element !important;
}
