:root {
  --zen-colors-primary: #282a36 !important;
  --zen-colors-secondary: #44475a !important;
  --zen-colors-tertiary: #2b3247 !important;
  --zen-colors-border: #f8f8f2 !important;

  --zen-colors-accent: #bd93f9 !important; 
  --zen-colors-teal: #ffb86c !important; 
}

