/*#region  ZEN SIDEBAR AT RIGHT SIDE  */
/*#region  RIGHT SIDE PINNED ZEN SIDEBAR  */
@media (-moz-bool-pref: "uc.zen-sidebar.pin-at-right-side") {
  #zen-sidebar-web-panel-wrapper:not(
      :has(#zen-sidebar-web-panel[pinned="true"])
    ) {
    order: 2 !important;
    margin-left: 10px !important;
  }
}
/*#endregion*/
/*#region  RIGHT SIDE FLOATING ZEN SIDEBAR  */
@media (-moz-bool-pref: "uc.zen-sidebar.float-at-right-side") {
  #tabbrowser-tabbox:has(#zen-sidebar-web-panel[pinned="true"]) {
    position: relative !important;
  }
  #zen-sidebar-web-panel[pinned="true"] {
    right: var(--zen-element-separation) !important;
    animation: none !important;
    opacity: 100 !important;
  }
  /* DONT DISPLAY WRAPPER WHEN SIDEBAR HIDDEN */
  #zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel[hidden="true"]) {
    display: none !important;
  }
  /* DISPLAY WRAPPER WHEN SIDEBAR SHOWN */
  #zen-sidebar-web-panel-wrapper:not(
      :has(#zen-sidebar-web-panel[hidden="true"])
    ) {
    display: flex !important;
  }
}
/*#endregion*/
/*#endregion*/
