
@-moz-document url-prefix('chrome://') {
    #urlbar-container #page-action-buttons #userContext-icons {
        position: relative;
        order: 2;
        height: 8px;
        width: 8px;
        background-color: var(--identity-icon-color);
        border-radius: 32px;
        margin-left: 12px !important;

& image,
        label {
            display: none;
        }
    }
}
