/* Makes Browser Tab Zooms edge to edge */
:root:not([inDOMFullscreen="true"]) #tabbrowser-tabbox {
  padding: 0px !important;
}

#tabbrowser-tabpanels[zen-split-view="true"] .browserSidebarContainer.deck-selected {
  outline: none !important;
}

:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #tabbrowser-tabpanels {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
  }
}

#tabbrowser-tabpanels:has(> [zen-split="true"]), #zen-splitview-overlay {
  margin: 0px !important;
}

#tabbrowser-tabpanels[zen-split-view="true"] > [zen-split="true"], #zen-splitview-dropzone {
  flex: 1;
  margin: 0px;
  position: absolute !important;
  overflow: hidden;
}

:root:not([inDOMFullscreen="true"]):not([chromehidden~="location"]):not([chromehidden~="toolbar"]) {
  & #tabbrowser-tabbox #tabbrowser-tabpanels .browserSidebarContainer {
    & .browserContainer {
      overflow: hidden;
      border-radius: 0px;
    }
  }
}

.browserSidebarContainer {
  padding: 0px !important;
  box-shadow: 0 0 0 0px transparent !important;
  border-radius: 0px !important;
}

/* Makes Zen Sidebar Boxy */
#zen-sidebar-add-panel-wrapper * {
  border-radius: 0px !important;
}

#zen-splitview-overlay {
  padding: 0px !important;
  margin: 0px !important;
}

#zen-sidebar-web-panel-wrapper {
  z-index: 2 !important;
  margin: 0 !important;
  border-right: 1px solid var(--zen-colors-border) !important;
  padding: 0px !important;
}

#zen-sidebar-web-panel {
  box-shadow: 0 0 0 0px transparent !important;
  border: none;
}

#zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel[hidden="true"]) {
  border-right: 0px none transparent !important;
}

#zen-sidebar-web-panel-wrapper:has(#zen-sidebar-web-panel[pinned="true"]) {
  margin: 10px !important;
  border-right: 0px none transparent !important;
}

#zen-sidebar-web-panel[pinned="true"] {
  border-radius: 0px !important;
  box-shadow: 0 0 0 1px var(--zen-colors-border) !important;
}

/* Make tab bar BOXY */
#navigator-toolbox {
  border-radius: 0px !important;
  padding-bottom: 6px !important;
}

#navigator-toolbox:not([zen-expanded="true"]) {
  border-right: 1px solid var(--zen-colors-border) !important;
}

#navigator-toolbox[zen-right-side="true"]:not([zen-expanded="true"]) {
  border-left: 1px solid var(--zen-colors-border) !important;
  border-right: 0px none transparent !important;
}

#navigator-toolbox[zen-user-hover="true"] {
  z-index: 3 !important;
}

#navigator-toolbox[zen-user-hover="true"] #TabsToolbar {
  border-top: 0px none transparent !important;
  border-radius: 0px !important;
}

#navigator-toolbox[zen-user-hover="true"]:not([zen-has-hover="true"]) {
  border-right: 1px solid var(--zen-colors-border) !important;
}

#navigator-toolbox[zen-user-hover="true"][zen-right-side="true"]:not([zen-has-hover="true"]) {
  border-left: 1px solid var(--zen-colors-border) !important;
  border-right: 0px none transparent !important;
}

@media (-moz-bool-pref: "zen.view.compact"){
  #navigator-toolbox:not([zen-expanded="true"]) {
    border-right: 0px none transparent !important;
  }

  #navigator-toolbox[zen-right-side="true"]:not([zen-expanded="true"]) {
    border-left: 0px none transparent !important;
    border-right: 0px none transparent !important;
  }
}

#TabsToolbar {
  padding-top: 7px !important;
}

#zen-sidebar-splitter {
  opacity: 1 !important;
  background: transparent !important;
  border-left: 0px none transparent !important;
  border-right: 1px solid var(--zen-colors-border) !important;
}

#zen-tabbox-wrapper:has(#navigator-toolbox[zen-right-side="true"]) > #zen-sidebar-splitter {
  border-left: 1px solid var(--zen-colors-border) !important;
  border-right: 0px none transparent !important;
}

#zen-sidebar-icons-wrapper {
  padding-bottom: 3px !important;
}

/* Make the nav bar BOXY */
#zen-appcontent-navbar-container {
  padding-top: 3px !important;
  border: 0px !important;
  border-radius: 0px !important;
  border-bottom: 1px solid var(--zen-colors-border) !important;
}

/* Bookmark clean up */

#zen-tabbox-wrapper {
  & #sidebar-box {
    border-radius: 0px !important;
    margin: 0px !important;
    margin-right: 4px !important;
    overflow: hidden;
    border: 0px !important;
    border-right: 1px solid var(--zen-colors-border) !important;
    background-color: transparent !important;
  }
}

#sidebar-search-container, #bookmarks-view {
  background-color: transparent !important;
}

#zen-tabbox-wrapper {
  & #sidebar-box {
    border-radius: 0px !important;
    margin: 0px !important;
    margin-right: 0px !important;
    overflow: hidden;
    border: 0px !important;
    background-color: transparent !important;
  }
}