.tabbrowser-tab:is([selected],
[visuallyselected],
[multiselected])
  .tab-background {
  background-color: color-mix(
    in srgb,
    var(--identity-tab-color, var(--tab-group-color-gray-invert)) 15%,
    transparent
  ) !important;
  border: 2.5px solid
    color-mix(
      in srgb,
      var(--identity-tab-color, var(--tab-group-color-gray-invert)) 20%,
      transparent
    ) !important;
  opacity: 0.8 !important;
  border-left: 32px solid
    color-mix(
      in srgb,
      var(--identity-tab-color, var(--tab-group-color-gray-invert)) 20%,
      transparent
    ) !important;
}
