.tab-context-line {
  display: none !important;
}
#tabbrowser-tabs {
  & .tabbrowser-tab {
    &[selected] .tab-background {
      border: 2px solid var(--identity-icon-color) !important;
      opacity: 0.8 !important;
    }
  }
}
