
#zen-toast-container {
    top: 8px !important;
    display: block;

:root:not([zen-right-side="true"]) & {
        right: 8px !important;
    }

:root[zen-right-side="true"] & {
        left: 8px !important;
    }

& .zen-toast {
        :root[zen-right-side="true"] & {
            translate: 0 !important;
        }

background: var(--zen-colors-tertiary) !important;
        border: 1px solid var(--zen-colors-secondary) !important;
        color: var(--zen-colors-secondary) !important;
        padding: 2px !important;
        font-size: 12px !important;
        margin: 0px !important;
        position: static !important;

:root[zen-right-side="true"] & {
            transform-origin: top left !important;
        }

:root:not([zen-right-side="true"]) & {
            transform-origin: top right !important;
        }
    }
}
