
:root {
  --zen-primary-color: var(--tab-loading-fill) !important;
  --zen-colors-primary: var(--tab-loading-fill) !important;
  --zen-colors-secondary: var(--tab-loading-fill) !important;
  --zen-colors-tertiary: var(--lwt-accent-color) !important; !important;
}

@media (-moz-bool-pref: "zen.view.compact") {
    #navigator-toolbox, #nav-bar {
        background: var(--lwt-accent-color) !important;
    }
}

#browser {
    background: var(--lwt-accent-color) !important;
}
