
.tabbrowser-tab .tab-background::after {
  content:'';
  position: absolute;
  width: 3px !important;
  height: 100% !important;
  background-color: var(--zen-primary-color) !important;
}

.tabbrowser-tab .tab-background:not([selected=true])::after{
  height: 0% !important;
}
