@media not (-moz-bool-pref: "theme.nosidebarscrollbar.before125b") {
    scrollbox:nth-child(5) {
        scrollbar-width: none !important;
    }
}

@media (-moz-bool-pref: "theme.nosidebarscrollbar.before125b") {
    #zen-tabs-wrapper {
        scrollbar-width: none !important;
    }
}
