
/* Blurs the background */
#urlbar[breakout-extend="true"] .urlbar-background {
    border: solid 3px color-mix(in hsl, hsl(0 0 50), transparent 90%) !important;
    border-radius: 15px !important;
    background-color: color-mix(in hsl, var(--mod-cleanedurlbar-customcolor), transparent var(--mod-cleanedurlbar-customtransparency)) !important;
    backdrop-filter: blur(25px) saturate(2) !important;
}

/* Custom URL result selected color */
.urlbarView-row {
  &[selected] {
    background-color: var(--mod-cleanedurlbar-customselectcolor) !important;
    color: var(--mod-cleanedurlbar-customselectfontcolor) !important;
  }
}

/* Unifies the border radius */
.urlbarView-row {
  border-radius: 11px !important;
}

/* Deletes the border */
.urlbarView-body-inner {
   border: none !important;
}

/* Styles the search options */
.search-one-offs {
  border-top: none !important;
  border-radius: 10px !important;
  padding: 4px !important;
  margin: 0px 0px 7px 0px !important;
  backdrop-filter: brightness(130%);
}

.searchbar-engine-one-off-item {
  border-radius: 8px !important;
  margin-right: 3px !important;
}

#urlbar-anon-search-settings {
  margin-right: 0px !important;
}

/* Fixes missing blur effect */
.browserStack browser {
  transform: translateX(0) !important;
}
