@media (-moz-pref("uc.tabtextsize.textsize", "8")) {
  .tab-text.tab-label {
    font-size: 8px;
  }
}

@media (-moz-pref("uc.tabtextsize.textsize", "10")) {
  .tab-text.tab-label {
    font-size: 10px;
  }
}

@media (-moz-pref("uc.tabtextsize.textsize", "default")) {
  .tab-text.tab-label {
    font-size: 12px;
  }
}

@media (-moz-pref("uc.tabtextsize.textsize", "14")) {
  .tab-text.tab-label {
    font-size: 14px;
  }
}

@media (-moz-pref("uc.tabtextsize.textsize", "16")) {
  .tab-text.tab-label {
    font-size: 16px;
  }
}

@media (-moz-pref("uc.tabtextsize.textsize", "18")) {
  .tab-text.tab-label {
    font-size: 18px;
  }
}

@media (-moz-pref("uc.tabtextsize.textsize", "20")) {
  .tab-text.tab-label {
    font-size: 20px;
  }
}

@media (-moz-pref("uc.tabtextsize.textsize", "22")) {
  .tab-text.tab-label {
    font-size: 22px;
  }
}
