.tab-text.tab-label {
    @media (-moz-pref("uc.tabtextsize.textsize", "8")) {
        font-size: 8px;
    }

    @media (-moz-pref("uc.tabtextsize.textsize", "10")) {
        font-size: 10px;
    }

    @media (-moz-pref("uc.tabtextsize.textsize", "default")) {
        font-size: 12px;
    }

    @media (-moz-pref("uc.tabtextsize.textsize", "14")) {
        font-size: 14px;
    }

    @media (-moz-pref("uc.tabtextsize.textsize", "16")) {
        font-size: 16px;
    }

    @media (-moz-pref("uc.tabtextsize.textsize", "18")) {
        font-size: 18px;
    }

    @media (-moz-pref("uc.tabtextsize.textsize", "20")) {
        font-size: 20px;
    }

    @media (-moz-pref("uc.tabtextsize.textsize", "22")) {
        font-size: 22px;
    }
}

.zen-current-workspace-indicator {
    @media (-moz-pref("uc.tabtextsize.workspaceheader", "6")) {
        font-size: 6px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "8")) {
        font-size: 8px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "10")) {
        font-size: 10px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "12")) {
        font-size: 12px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "14")) {
        font-size: 14px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "16")) {
        font-size: 16px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "18")) {
        font-size: 18px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "20")) {
        font-size: 20px !important;
    }

    @media (-moz-pref("uc.tabtextsize.workspaceheader", "22")) {
        font-size: 22px !important;
    }
}

.tab-group-label-container {
    @media (-moz-pref("uc.tabtextsize.tabgroup", "6")) {
        font-size: 6px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "8")) {
        font-size: 8px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "10")) {
        font-size: 10px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "12")) {
        font-size: 12px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "14")) {
        font-size: 14px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "16")) {
        font-size: 16px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "18")) {
        font-size: 18px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "20")) {
        font-size: 20px !important;
    }

    @media (-moz-pref("uc.tabtextsize.tabgroup", "22")) {
        font-size: 22px !important;
    }
}
