
#nav-bar {
  max-height: 30px !important;
  height: 30px !important;
  min-height: unset !important;
}
#urlbar:not([breakout][breakout-extend], [breakout][usertyping][focused]) {
  min-height: 26px !important;
  height: 26px !important;
}
.urlbar-input-container {
  align-items: center;
}
