:root:not([customizing]) #zen-sidebar-top-buttons-separator {
  display: none !important;
}
:root:not([customizing]) #back-button {
  display: none !important;
}
:root:not([customizing]) #forward-button {
  display: none !important;
}
