#zen-workspaces-button {
  border-radius: 8px !important;
  box-sizing: border-box;
  height: 34px !important;
  width: 34px !important;
  border-width: 1px;
  aspect-ratio: 1 / 1;
  transition:
    min-width 100ms ease-out,
    max-width 100ms ease-out;
  font-weight: 500;
}

#zen-workspaces-button:hover {
  background: var(--toolbarbutton-hover-background) !important;
}

#zen-workspaces-button:active {
  transform: scale(0.9);
  font-weight: initial;
}

@media (-moz-bool-pref: "zen.view.sidebar-expanded") {
  #zen-workspaces-button {
    width: calc(100% - 4px) !important;
  }
}
