.tab-icon-overlay {
  -moz-box-ordinal-group: 0 !important;
  border-radius: 50% !important;
  margin: initial !important;
  visibility: visible !important;
  margin-right: -16px !important;
  opacity: 1 !important;
  transform: translate(40%, -35%) scale(0.8) !important;
  color: light-dark(white, black) !important;
  background-color: light-dark(black, white) !important;
  position: absolute !important;
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-playing-small.svg") !important;
  fill: none !important;
}

.tab-icon-overlay[muted] {
  background-image: url("chrome://browser/skin/tabbrowser/tab-audio-muted-small.svg") !important;
}

@media (-moz-bool-pref: "uc.audio-tabicon.left-side") {
  .tab-icon-overlay {
    transform: translate(-50%, -35%) scale(0.7) !important;
  }
}

.tab-icon-overlay:hover {
  color: light-dark(white, black) !important;
  background-color: light-dark(black, white) !important;
}

.tab-icon-overlay:is([soundplaying], [muted]):not([selected]) {
  display: block !important;
}
