
:root {
    --zen-colors-primary: #dadada !important;
    --zen-colors-secondary: #232a2d !important;
    --zen-colors-tertiary: #141b1e !important;
    --zen-colors-border: #232a2d !important;
    --zen-dialog-background: #141b1e !important;
}
