
#statuspanel{
    padding: 10px;
  }

#statuspanel-label{
    border: 1px solid var(--zen-colors-border) !important;
    background: var(--zen-colors-tertiary) !important;
    padding: 4px;
    border-radius: var(--toolbarbutton-border-radius);
  }
