:root {
  --zen-primary-color: #808080 !important;
}

@media not (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #d2d2d2 !important;
    --zen-colors-secondary: #d2d2d2 !important;
    --zen-colors-tertiary: #ffffff !important;
    --zen-colors-border: #dddddd !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #373737 !important;
    --zen-colors-secondary: #373737 !important;
    --zen-colors-tertiary: #171717 !important;
    --zen-colors-border: #202020 !important;
  }
}
