@media (-moz-bool-pref: "theme.no_gaps.fixes.urlbar_hides_outline_fix")
and (-moz-bool-pref: "zen.view.compact.hide-toolbar")
and (-moz-bool-pref: "zen.view.compact") {

  :root:not([customizing], [inDOMFullscreen="true"], [zen-single-toolbar="true"]){

    & #zen-appcontent-navbar-container:not(
    :hover, [zen-has-hover], :focus-within, [zen-user-show],
    [has-popup-menu], :has([open="true"]))
    > #nav-bar > #nav-bar-customization-target
    > #urlbar-container{

      display: unset;

    }
  }
}

@media (-moz-bool-pref: "theme.no_gaps.split.gaps")
and (-moz-bool-pref: "theme.no_gaps.fixes.center_split_view") {

  #zen-appcontent-wrapper:has(
  > #zen-tabbox-wrapper > #tabbrowser-tabbox
  > #tabbrowser-tabpanels[zen-split-view="true"]){

    margin-top: 1px;

    & > #zen-tabbox-wrapper {
      margin-bottom: 5px !important;
      margin-right: 7px !important;
    }

    @media (-moz-bool-pref: "zen.view.compact"){
      @media (-moz-bool-pref: "zen.view.compact.hide-toolbar") {
        margin-top: 3px !important;
      }
      @media (-moz-bool-pref: "zen.view.compact.hide-tabbar") {
        margin-left: 2px !important;
      }
    }

  }
}

@media not (-moz-bool-pref: "theme.no_gaps.split.outline") {
  hbox.browserSidebarContainer{
    outline: none !important;
  }
}


@media not (-moz-bool-pref: "theme.no_gaps.shadow"){
  @media not (-moz-bool-pref: "theme.no_gaps.split.shadow") {
    hbox.browserSidebarContainer{
      box-shadow: none !important;
    }
  }

  @media (-moz-bool-pref: "theme.no_gaps.split.shadow") {
    hbox.browserSidebarContainer:not([zen-split="true"]){
      box-shadow: none !important;
    }
  }
}

@media (-moz-bool-pref: "theme.no_gaps.shadow") {
  @media not (-moz-bool-pref: "theme.no_gaps.split.shadow") {
    hbox.browserSidebarContainer[zen-split="true"]{
      box-shadow: none !important;
    }
  }
}


@media not (-moz-bool-pref: "theme.no_gaps.rounded_corners") {

  @media not (-moz-bool-pref: "theme.no_gaps.split.rounded_corners") {
    #tabbrowser-tabpanels{
      --zen-webview-border-radius: 0;
    }
  }

  @media (-moz-bool-pref: "theme.no_gaps.split.rounded_corners") {
    #tabbrowser-tabpanels:not([zen-split-view="true"]){
      --zen-webview-border-radius: 0;
    }
  }

}

@media (-moz-bool-pref: "theme.no_gaps.rounded_corners") {
  @media not (-moz-bool-pref: "theme.no_gaps.split.rounded_corners") {
    #tabbrowser-tabpanels[zen-split-view="true"]{
      --zen-webview-border-radius: 0;
    }
  }
}


@media not (-moz-bool-pref: "theme.no_gaps.gaps") {

  hbox.browserSidebarContainer:not([zen-split="true"]){
    margin: 0 !important;
  }

  @media not (-moz-bool-pref: "theme.no_gaps.split.gaps") {

    tabbox#tabbrowser-tabbox{
      --zen-split-row-gap: 0 !important;
      --zen-split-column-gap: 0 !important;
    }

    #zen-appcontent-wrapper {
      margin: 0 !important;
    }
    #zen-tabbox-wrapper {
      margin: 0 !important;
    }

    @media (-moz-bool-pref: "theme.no_gaps.split.outline") {
      hbox.browserSidebarContainer[zen-split="true"]{
        margin: 1px !important;
      }
    }

  }

  @media (-moz-bool-pref: "theme.no_gaps.split.gaps") {

    #zen-appcontent-wrapper:not(:has(
    > #zen-tabbox-wrapper > #tabbrowser-tabbox
    > #tabbrowser-tabpanels[zen-split-view="true"])){

      margin: 0 !important;

      & > #zen-tabbox-wrapper {
        margin: 0 !important;
      }

    }

  }
}

@media (-moz-bool-pref: "theme.no_gaps.gaps") {
  @media not (-moz-bool-pref: "theme.no_gaps.split.gaps") {

    tabbox#tabbrowser-tabbox{
      --zen-split-row-gap: 0 !important;
      --zen-split-column-gap: 0 !important;
    }

    @media (-moz-bool-pref: "theme.no_gaps.split.outline") {
      hbox.browserSidebarContainer[zen-split="true"]{
        margin: 1px !important;
      }
    }

    #zen-appcontent-wrapper:has(
    > #zen-tabbox-wrapper > #tabbrowser-tabbox
    > #tabbrowser-tabpanels[zen-split-view="true"]){

      margin: 0 !important;

      & > #zen-tabbox-wrapper {
        margin: 0 !important;
      }

    }

  }
}
