
--zen-colors-primary: #2d5b69 !important;
--zen-colors-tertiary: #002b36 !important;
--zen-colors-secondary: #2d5b69 !important;
--zen-colors-border: #2d5b69 !important;
--zen-dialog-background: #002b36 !important;
--toolbar-field-background-color: #073642 !important;
--toolbar-field-focus-background-color: #073642 !important;
