
#BMB_viewBookmarksSidebar,
#BMB_searchBookmarks,
#BMB_bookmarksShowAllTop,
#BMB_bookmarksShowAll {
  display: none !important;
}

#bookmarks-menu-button #BMB_viewBookmarksToolbar {
  display: none !important;
}
