
:root {
    --floating-sidebar-transform-translateX: 110%;
    --floating-sidebar-transform-translateY: 1%;
    --floating-sidebar-position-right: 1rem;
    --floating-sidebar-position-left: auto;
}

/* Position */
:root:has(#theme-Floating-sidebar[theme-floating_sidebar-position="right"]) {
    --floating-sidebar-transform-translateX: 110%;
    --floating-sidebar-position-right: 1rem;
    --floating-sidebar-position-left: auto;
}
:root:has(#theme-Floating-sidebar[theme-floating_sidebar-position="left"]) {
    --floating-sidebar-transform-translateX: -110%;
    --floating-sidebar-position-right: auto;
    --floating-sidebar-position-left: 1rem;
}

/* Disable splitter */
#sidebar-box + splitter {
    display: none !important;
}

/* Make sure content is not affected by sidebar */
#tabbrowser-tabbox[flex="1"][tabcontainer="tabbrowser-tabs"] {
    will-change: unset !important;
}

/* Sidebar Tab Styles */
#sidebar-box {
    order: none !important;
    height: 98% !important;
    width: 25em !important;

position: fixed !important;

right: var(--floating-sidebar-position-right);
    left: var(--floating-sidebar-position-left);

transform: translateX(
        var(--floating-sidebar-transform-translateX),
        var(--floating-sidebar-transform-translateY)
    ) !important;
    z-index: 1 !important;

border-radius: var(--zen-border-radius) !important;

box-shadow: var(--box-shadow-10) !important;
    background: var(--zen-main-browser-background) !important;
    border: 1px solid var(--zen-colors-border) !important;

transition: transform 0.35s !important;
    visibility: visible !important;
    opacity: 1 !important;

&[checked="true"] {
        display: flex !important;
        transform: translate(
            0%,
            var(--floating-sidebar-transform-translateY)
        ) !important;
    }
}

#sidebar-box box#sidebar-header {
    border-bottom: none !important;
}

window.sidebar-panel {
    box-shadow: var(--box-shadow-10) !important;
    background: var(--zen-main-browser-background) !important;
}

/* TreeChildren Style */
treechildren.sidebar-placesTreechildren::-moz-tree-row {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    -moz-outline: none !important;
}
treechildren.sidebar-placesTreechildren::-moz-tree-row(selected) {
    background: rgba(200, 200, 200, 0.2) !important;
}
treechildren.sidebar-placesTreechildren::-moz-tree-cell-text(selected) {
    color: var(--toolbox-textcolor) !important;
}
treechildren.sidebar-placesTreechildren::-moz-tree-image(selected) {
    fill: var(--toolbox-textcolor) !important;
    -moz-image-region: auto !important;
}
treechildren.sidebar-placesTreechildren::-moz-tree-image(selected, container),
treechildren.sidebar-placesTreechildren::-moz-tree-twisty {
    fill: var(--toolbox-textcolor) !important;
}
