#zen-main-app-wrapper {
  background-color: #faf4ed !important;
}

#appMenu-mainView {
  background-color: #f2e9e1 !important;
}

#appmenu-moreTools {
  background-color: #f2e9e1 !important;
}

#PanelUI-button {
  --button-active-bgcolor: black !important;
}

html#main-window {
  --lwt-text-color: #575279 !important;
  --toolbarbutton-icon-fill: #b4637a !important;
  --toolbar-field-color: #286983 !important;
}
