#zen-appcontent-navbar-container {
  padding: calc(var(--zen-element-separation) * 2) !important;
  border: none !important;
  background: none !important;
  box-sizing: border-box;
}

#nav-bar,
#PersonalToolbar {
  background: var(--zen-colors-tertiary) !important;
  border-radius: var(--zen-border-radius);
  border: 1px solid var(--zen-colors-border) !important;
}

#PersonalToolbar {
  margin-top: var(--zen-element-separation);
}

#PersonalToolbar,
.bookmark-item {
  padding: var(--zen-element-separation);
}

/* Enable compact toolbar, similar to Smaller Compact Mode by n7itro */
@media (-moz-bool-pref: "uc.floatingtoolbar.compact.enabled") {
  #nav-bar,
  #PersonalToolbar {
    width: 75vw !important;
    margin-left: calc( 12.5vw - var(--zen-element-separation) * 2) !important;
  }
}

/* Increase space around edge of browser window and toolbar / tab bar */
@media (-moz-bool-pref: "uc.floatingtoolbar.increase.spacing") {
  #main-window {
    --zen-element-separation: 10px !important;
  }
  #PersonalToolbar,
  .bookmark-item {
    padding: calc( var(--zen-element-separation) / 2 );
  }
}

/* Merge bookmark bar with toolbar */
@media (-moz-bool-pref: "uc.floatingtoolbar.merge.bookmarks") {
  #nav-bar {
    border-radius: var(--zen-border-radius) var(--zen-border-radius) 0 0;
  }
  #PersonalToolbar {
    border-radius: 0 0 var(--zen-border-radius) var(--zen-border-radius);
    border-top-width: 0 !important;
  }
}
