
#urlbar-results {
  display: flex;
  flex-direction: column;
}

#urlbar-results > .urlbarView-row:nth-child(5) ~ .urlbarView-row {
  display: none !important;
}

#urlbar:is([suppress-focus-border=""][breakout][breakout-extend]) {
  #urlbar-input {
    font-size: 16px !important;
  }

z-index: 2;
  position: fixed !important;
  bottom: auto !important;
  top: 40% !important;
  padding-left: 6px !important;
  padding-right: 8px !important;

border: 1px solid gray;

background-color: rgba(0, 0, 0, 0);
  left: 50% !important;
  transform: translateX(-50%) !important;
  right: 18vw !important;
  width: 64vw !important;
  max-width: 750px !important;
}

#identity-box {
  margin: auto 0;
  height: 30px;
  margin-right: 10px;
}

.urlbar-go-button {
  margin: auto 0;
}
