/**
* Zen Mod: Better CtrlTab Panel
* Re-style and add customization options for the Ctrl+Tab panel.
* Pontus Sundén <hi@pontus.cc>
*/

@-moz-document url-prefix("chrome:") {
  :root {
    /**
    --psu-better_ctrltab-roundness: 40px; 

    --psu-better_ctrltab-padding: 25px; 
    --psu-better_ctrltab-background: light-dark(rgba(146, 145, 144, 0.94), rgba(24, 23, 22, 0.94)); 
    --psu-better_ctrltab-shadow_size: 15px; 
    --psu-better_ctrltab-panel_border_color: transparent; 
    --psu-better_ctrltab-panel_border_width: 0px; 

    --psu-better_ctrltab-panel_maxwidth: 2000px; 
    --psu-better_ctrltab-panel_vertical_position: -50px; 
    
    --psu-better_ctrltab-preview_focus_background: light-dark(rgba(77, 76, 78, 0.8), rgba(184, 185, 183, 0.3)); 

    --psu-better_ctrltab-preview_padding: 20px; 
    --psu-better_ctrltab-preview_border_color: light-dark(rgba(253, 255, 254, 0.1), rgba(83, 82, 79, 0.2)); 
    --psu-better_ctrltab-preview_border_width: 1px; 

    --psu-better_ctrltab-preview_text_color: inherit; 
    --psu-better_ctrltab-preview_font_size: 13px; 
    --psu-better_ctrltab-preview_font_family: inherit;
    --psu-better_ctrltab-preview_font_weight: inherit;
    --psu-better_ctrltab-preview_label_overflow: 0.5; 
    --psu-better_ctrltab-preview_letter_spacing: 0px; 
    
    --psu-better_ctrltab-preview_favicon_size: 36px; 
    --psu-better_ctrltab-preview_favicon_outdent: 12px;
    --psu-better_ctrltab-preview_favicon_background: transparent;
    --psu-better_ctrltab-preview_favicon_padding: 2px;     
/**/

    /* helpers */
    --psu-bct-favicon-size: calc(var(--psu-better_ctrltab-preview_favicon_size) + var(--psu-better_ctrltab-preview_favicon_padding) * 2);
    --psu-bct-preview-roundness: calc(var(--psu-better_ctrltab-roundness) * 0.8);
    --psu-bct-canvas-roundness: calc(var(--psu-bct-preview-roundness) * 0.8 - var(--psu-better_ctrltab-preview_padding) * 0.33);
    --psu-bct-canvas-aspect-ratio: calc(250/170);
    --psu-bct-horizontal-padding: calc(var(--psu-better_ctrltab-padding) * 1.1);
    --psu-bct-panel-margin: var(--psu-better_ctrltab-shadow_size);
    --psu-bct-panel-shadow-color: rgba(1, 1, 4, 0.2);
    --psu-bct-label-margin: calc((var(--psu-better_ctrltab-preview_border_width) + var(--psu-better_ctrltab-preview_padding)) * var(--psu-better_ctrltab-preview_label_overflow) * -1);
  }

  #ctrlTab-panel {
    /* reset */
    --panel-background: none !important;
    --panel-shadow: none !important;
    --panel-border-color: none !important;
    --panel-shadow-margin: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: unset !important;

    /* panel */
    margin-top: var(--psu-better_ctrltab-panel_vertical_position) !important;
    --panel-color: var(--psu-better_ctrltab-preview_text_color) !important;
    --panel-border-radius: var(--psu-better_ctrltab-roundness) !important;
    --panel-padding: calc(var(--psu-bct-panel-margin) * 1.5) var(--psu-bct-panel-margin) !important;

    /* conunt items */
    --psu-tile-counter: 0;
    &:has(.ctrlTab-preview:nth-child(1):not([hidden])) {
      --psu-tile-counter: 1;
    }
    &:has(.ctrlTab-preview:nth-child(2):not([hidden])) {
      --psu-tile-counter: 2;
    }
    &:has(.ctrlTab-preview:nth-child(3):not([hidden])) {
      --psu-tile-counter: 3;
    }
    &:has(.ctrlTab-preview:nth-child(4):not([hidden])) {
      --psu-tile-counter: 4;
    }
    &:has(.ctrlTab-preview:nth-child(5):not([hidden])) {
      --psu-tile-counter: 5;
    }
    &:has(.ctrlTab-preview:nth-child(6):not([hidden])) {
      --psu-tile-counter: 6;
    }
    &:has(.ctrlTab-preview:nth-child(7):not([hidden])) {
      --psu-tile-counter: 7;
    }

    /* reverese engineer important measurements */
    --psu-bct-panel-width: min(var(--psu-tile-counter) * 311.25px, var(--psu-better_ctrltab-panel_maxwidth));
    --psu-bct-preview-width: calc(
      ((var(--psu-bct-panel-width) - var(--psu-bct-panel-margin) * 2 - var(--psu-bct-horizontal-padding) * 2 - var(--psu-better_ctrltab-panel_border_width) * 2) / var(--psu-tile-counter)) -
        var(--psu-better_ctrltab-preview_padding) * 2 - var(--psu-better_ctrltab-preview_border_width) * 2
    );
    --psu-bct-preview-height: calc(var(--psu-bct-preview-width) / var(--psu-bct-canvas-aspect-ratio));
    --psu-bct-panel-height: calc(
      var(--psu-bct-preview-height) + var(--psu-better_ctrltab-panel_border_width) * 2 + var(--psu-better_ctrltab-padding) * 2 + var(--psu-better_ctrltab-preview_padding) * 2 +
        var(--psu-better_ctrltab-preview_border_width) * 2 + var(--psu-better_ctrltab-preview_font_size)
    );

    #ctrlTab-previews {
      margin: 0 auto !important;
      padding: var(--psu-better_ctrltab-padding) var(--psu-bct-horizontal-padding) !important;
      background: var(--psu-better_ctrltab-background) !important;
      border-radius: var(--psu-better_ctrltab-roundness) !important;
      box-shadow: 0 0 var(--psu-better_ctrltab-shadow_size) calc(var(--psu-better_ctrltab-shadow_size) / 3) var(--psu-bct-panel-shadow-color) !important;
      border-style: solid;
      border-color: var(--psu-better_ctrltab-panel_border_color);
      border-width: var(--psu-better_ctrltab-panel_border_width);

      .ctrlTab-preview {
        margin: 0 !important;
        padding: 0 !important;
        border-radius: var(--psu-bct-preview-roundness) !important;

        /* previews styling */
        .ctrlTab-preview-inner {
          margin: 0 !important;
          padding: calc(var(--psu-better_ctrltab-preview_padding) + var(--psu-better_ctrltab-preview_border_width)) !important;
          border-radius: var(--psu-bct-preview-roundness) !important;
          padding-bottom: calc(var(--psu-better_ctrltab-preview_padding) / 2) !important;
          border: none !important;
          text-shadow: 0.5px 0.5px 0px light-dark(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        }
        .ctrlTab-canvas {
          margin-bottom: calc(var(--psu-better_ctrltab-preview_padding) / 2 + var(--psu-better_ctrltab-preview_border_width)) !important;
          box-shadow: 0 0 0 var(--psu-better_ctrltab-preview_border_width) var(--psu-better_ctrltab-preview_border_color) !important;
        }
        .ctrlTab-canvas,
        img,
        canvas {
          border-radius: var(--psu-bct-canvas-roundness) !important;
          height: var(--psu-bct-preview-height) !important;
          width: var(--psu-bct-preview-width) !important;
        }

        /* label styling */
        .ctrlTab-label {
          font-size: var(--psu-better_ctrltab-preview_font_size) !important;
          letter-spacing: var(--psu-better_ctrltab-preview_letter_spacing) !important;
          font-family: var(--psu-better_ctrltab-preview_font_family) !important;
          font-weight: var(--psu-better_ctrltab-preview_font_weight) !important;
          margin: 0 var(--psu-bct-label-margin) !important;
          padding: 0 !important;
        }

        /* favicon styling and position */
        .ctrlTab-favicon-container {
          image {
            height: var(--psu-bct-favicon-size) !important;
            width: var(--psu-bct-favicon-size) !important;
            box-shadow: none !important;
            background: var(--psu-better_ctrltab-preview_favicon_background) !important;
            position: absolute !important;
            padding: var(--psu-better_ctrltab-preview_favicon_padding) !important;
            margin: 0 !important;
            margin-right: calc(var(--psu-better_ctrltab-preview_favicon_outdent) * var(--psu-bct-canvas-aspect-ratio) * -1) !important;
            margin-top: calc(
              (var(--psu-better_ctrltab-preview_padding) / 2 + var(--psu-better_ctrltab-preview_border_width)) * -1 - var(--psu-bct-favicon-size) +
                (var(--psu-better_ctrltab-preview_favicon_outdent) * pow(var(--psu-bct-canvas-aspect-ratio), -1))
            ) !important;
          }
        }

        /* focused bg styling */
        &:focus {
          .ctrlTab-preview-inner {
            background: var(--psu-better_ctrltab-preview_focus_background) !important;
            border: none !important;
          }
        }
      }
    }
  }
}
