
findbar {
	display: flex;

	border-radius: var(--zen-border-radius) !important;
	margin: 0px !important;

	width: 90% !important;
	max-width: 800px;

	height: auto !important;

	position: absolute !important;
	top: 15px;
	left: 50%;
	transform: translateX(-50%);

	overflow: unset !important;
	box-shadow: var(--box-shadow-10);

	background: var(--zen-colors-tertiary) !important;
	border: 1px solid var(--zen-colors-border) !important;

	transition: top 0.35s ease !important;

	visibility: visible !important;
	opacity: 1 !important;


	& .findbar-container {
		flex-wrap: wrap;
		overflow-x: auto !important;
		height: auto !important;

		row-gap: 10px;

		& > :first-child {
			width: 100% !important;
		}

		& .findbar-textbox {
			flex-grow: 1;
		}
	}

	&[hidden="true"] {
		top: -85px;
	}

	@starting-style {
		top: -85px;
	}
}
