
--zen-colors-primary: #7e9cd8 !important;
--zen-colors-secondary: #957fb8 !important;
--zen-colors-tertiary: #16161d !important;
--zen-colors-border: #54546d !important;
--zen-dialog-background: #1f1f28 !important;
--toolbar-field-background-color: #2a2a37 !important;
--toolbar-field-focus-background-color: #1e2030 !important;
