/* Adjust border radius of url bar and its elements */
@media (-moz-bool-pref: "uc.urlbar.border-radius") {
  #urlbar {
    border-radius: 20px !important;
  }
          
  #notification-popup-box {
    border-radius: 20px !important;
  }
        
  /* Border radius on hover */
  #urlbar .urlbar-page-action, #urlbar #tracking-protection-icon-container, #urlbar:not([breakout-extend="true"]) #identity-box:is(:not(.chromeUI), [pageproxystate="invalid"]) #identity-icon-box {
    border-radius: 20px !important;;
  }
        
  /* Border radius of boxes on the left */
  #identity-box:has(#identity-permission-box:is([hasPermissions], [hasSharingIcon])):not([pageproxystate="invalid"]) #identity-icon-box {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  /* Extensions or similar */
  #urlbar:not([breakout-extend="true"]) #identity-box.chromeUI:not([pageproxystate="invalid"]) #identity-icon-box {
    border-radius: 20px 20px 20px 20px !important;
  }
}

/* Centers the url text when enabled in dropdown: 1.Option: Centers the text unless url bar is focused; 2.Option: Centers the text always*/
:root:has(#theme-Super-Url-Bar[uc-urltext-center="normal"]) {
  #urlbar:not([focused]) .urlbar-input {
    text-align: center !important; 
  }
}
:root:has(#theme-Super-Url-Bar[uc-urltext-center="advanced"]) {
  #urlbar .urlbar-input {
    text-align: center !important; 
  }
}

/* Blurs the background when url bar is focused when toggled */
:root:has(#theme-Super-Url-Bar[uc-urlbar-blur-intensity="Subtle"]) {
  --blur-intensity: 1px;
}
:root:has(#theme-Super-Url-Bar[uc-urlbar-blur-intensity="Normal"]) {
  --blur-intensity: 2px;
}
:root:has(#theme-Super-Url-Bar[uc-urlbar-blur-intensity="RatherStrong"]) {
  --blur-intensity: 3px;
}
:root:has(#theme-Super-Url-Bar[uc-urlbar-blur-intensity="Strong"]) {
  --blur-intensity: 4px;
}
:root:has(#theme-Super-Url-Bar[uc-urlbar-blur-intensity="ReallyStrong"]) {
  --blur-intensity: 6px;
}

:root:has(#theme-Super-Url-Bar[uc-urlbar-blur-intensity="Subtle"],
          #theme-Super-Url-Bar[uc-urlbar-blur-intensity="Normal"],
          #theme-Super-Url-Bar[uc-urlbar-blur-intensity="RatherStrong"],
          #theme-Super-Url-Bar[uc-urlbar-blur-intensity="Strong"],
          #theme-Super-Url-Bar[uc-urlbar-blur-intensity="ReallyStrong"]:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar'])) {
  #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]):after {
    content: "";
    position: fixed;
    pointer-events: none;
  
    width: 100vw;
    height: 100vh;
  
    top: 0px;
    left: 0px;
  
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(var(--blur-intensity));
  
    z-index: -1;
  }
  
  /* Scuffed af solution to make blur work (need to find better solution) */
  clip-path: content-box;
}

/* Custom Colors for Url Bar */
@media (-moz-bool-pref: "uc.urlbar.custom-bg-color.checkbox") {
  :root {
    --zen-urlbar-background: var(--uc-urlbar-custom-bg-color) !important;
    --zen-colors-input-bg: var(--uc-urlbar-custom-bg-color) !important;
  }
  #identity-icon-box, #identity-permission-box {
    background-color: color-mix(in srgb, var(--uc-urlbar-custom-bg-color) 90%, light-dark(black, white)) !important;
  }
  #tracking-protection-icon-container, .urlbar-page-action, #picture-in-picture-button, #reader-mode-button {
    &:hover:not([open="true"]) {
      background-color: color-mix(in srgb, var(--uc-urlbar-custom-bg-color) 90%, light-dark(black, white)) !important;
    }
  }
}

/* Removes the border of the url bar when toggled */
@media (-moz-bool-pref: "uc.urlbar.border.removed") {
  #urlbar {
    border: none !important;
  }
}

/* Makes all the hidden icons appear on hover */
@media not (-moz-bool-pref: "uc.urlbar.icon.show-on-hover") {
  :root {
    --position-var: absolute;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.show-on-hover") {

  :root {
    --position-var: relative;
  }

  @media (-moz-bool-pref: "uc.urlbar.icon.zoom.removed") {
    #urlbar:hover #urlbar-zoom-button {
      position: relative;
      opacity: 1;
    } 
  }
  @media (-moz-bool-pref: "uc.urlbar.icon.shield.removed") {
    #urlbar:hover #tracking-protection-icon-container, #tracking-protection-icon-container[open="true"] {
      position: relative;
      opacity: 1;
    } 
  }
  @media (-moz-bool-pref: "uc.urlbar.icon.bookmark.removed") {
    #urlbar:hover #star-button-box, #star-button-box[open="true"] {
      position: relative;
      opacity: 1;
    } 
  }
  @media (-moz-bool-pref: "uc.urlbar.icon.reader-mode.removed") {
    #urlbar:hover #reader-mode-button {
      position: relative;
      opacity: 1;
    } 
  }
  @media (-moz-bool-pref: "uc.urlbar.icon.pip.removed") {
    #urlbar:hover #picture-in-picture-button {
      position: relative;
      opacity: 1;
    } 
  }
}

/* Removes certain buttons from the url bar (when toggled) */
@media (-moz-bool-pref: "uc.urlbar.icon.zoom.removed") {
  #urlbar-zoom-button {
    opacity: 0;
    position: var(--position-var);
    transition: 100ms linear, opacity 200ms linear;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.shield.removed") {
  #tracking-protection-icon-container {
    opacity: 0;
    position: var(--position-var);
    transition: 100ms linear, opacity 200ms linear;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.bookmark.removed") {
  #star-button-box {
    opacity: 0;
    position: var(--position-var);
    transition: 100ms linear, opacity 200ms linear;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.reader-mode.removed") {
  #reader-mode-button {
    opacity: 0;
    position: var(--position-var);
    transition: 100ms linear, opacity 200ms linear;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.pip.removed") {
  #picture-in-picture-button {
    opacity: 0;
    position: var(--position-var);
    transition: 100ms linear, opacity 200ms linear;
  }
}
