/* Adjust border radius of url bar and its elements */
@media (-moz-bool-pref: "uc.urlbar.border-radius") {
  #urlbar {
    border-radius: 20px !important;
  }
          
  #notification-popup-box {
    border-radius: 20px !important;
  }
        
  /* Border radius on hover */
  #urlbar .urlbar-page-action, #urlbar #tracking-protection-icon-container, #urlbar:not([breakout-extend="true"]) #identity-box:is(:not(.chromeUI), [pageproxystate="invalid"]) #identity-icon-box {
    border-radius: 20px !important;;
  }
        
  /* Border radius of boxes on the left */
  #identity-box:has(#identity-permission-box:is([hasPermissions], [hasSharingIcon])):not([pageproxystate="invalid"]) #identity-icon-box {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  /* Extensions or similar */
  #urlbar:not([breakout-extend="true"]) #identity-box.chromeUI:not([pageproxystate="invalid"]) #identity-icon-box {
    border-radius: 20px 20px 20px 20px !important;
  }
}

/* Centers the url text when enabled in dropdown: 1.Option: Centers the text unless url bar is focused; 2.Option: Centers the text always*/
:root:has(#theme-Super-Url-Bar[uc-urltext-center="normal"]) {
  #urlbar:not([focused]) .urlbar-input {
    text-align: center !important; 
  }
}
:root:has(#theme-Super-Url-Bar[uc-urltext-center="advanced"]) {
  #urlbar .urlbar-input {
    text-align: center !important; 
  }
}

/* Blurs the background when url bar is focused when toggled */
@media (-moz-bool-pref: "uc.urlbar.blur") {
  #urlbar:is([breakout][breakout-extend], [breakout][usertyping][focused]):after {
    content: "";
    position: fixed;
    pointer-events: none;
  
    width: 100vw;
    height: 100vh;
  
    top: 0px;
    left: 0px;
  
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
  
    z-index: -1;
  }
  
  /* Scuffed af solution to make blur work (need to find better solution) */
  :root:not([inDOMFullscreen='true']):not([chromehidden~='location']):not([chromehidden~='toolbar']) {
    clip-path: inset(0 round var(--zen-webview-border-radius, var(--zen-border-radius)));
  }
}

/* Removes the border of the url bar when toggled */
@media (-moz-bool-pref: "uc.urlbar.border.removed") {
  #urlbar {
    border: none !important;
  }
}

/* Removes certain buttons from the url bar (when toggled) */
@media (-moz-bool-pref: "uc.urlbar.icon.zoom.removed") {
  #urlbar-zoom-button {
    display: none !important;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.shield.removed") {
  #tracking-protection-icon-container {
    display: none !important;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.bookmark.removed") {
  #star-button-box {
    display: none !important;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.reader-mode.removed") {
  #reader-mode-button {
    display: none !important;
  }
}
@media (-moz-bool-pref: "uc.urlbar.icon.pip.removed") {
  #picture-in-picture-button {
    display: none !important;
  }
}
