:root:not([zen-compact-mode="true"]) {
  #navigator-toolbox {
    --zen-navigator-toolbox-background: var(
        --lwt-header-image,
        var(--lwt-additional-images)
      )
      no-repeat var(--lwt-background-tiling) var(--lwt-background-alignment)
      var(--lwt-accent-color);
  }
}
:root[zen-compact-mode="true"] {
  #titlebar {
    --zen-colors-tertiary: var(--lwt-header-image, var(--lwt-additional-images))
      no-repeat var(--lwt-background-tiling) var(--lwt-background-alignment)
      var(--lwt-accent-color);
  }
}
