@media (prefers-color-scheme: dark) {
  :root {
    --zen-colors-primary: #437030 !important;
    --zen-colors-secondary: #407a27 !important;
    --zen-colors-tertiary: #14210e !important;
    --zen-colors-border: #2b471f !important;
    --zen-primary-color: #407a27 !important;
    --zen-dialog-background: #0d160a !important;
    --toolbarbutton-icon-fill: color-mix(
      in srgb,
      var(--zen-primary-color) 70%,
      white 30%
    ) !important;
    --toolbar-field-color: color-mix(
      in srgb,
      var(--zen-primary-color) 40%,
      white 60%
    ) !important;
    .tabbrowser-tab {
      color: #adc694 !important;
    }
    .tabbrowser-tab:is([visuallyselected], [multiselected]) {
      color: #edffe5 !important;
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --zen-colors-primary: #437030 !important;
    --zen-colors-secondary: #73c351 !important;
    --zen-colors-tertiary: #d8fab5 !important;
    --zen-colors-border: #68b647 !important;
    --zen-primary-color: #73c351 !important;
    --zen-dialog-background: #f1fae7 !important;
    --toolbarbutton-icon-fill: color-mix(
      in srgb,
      var(--zen-primary-color) 70%,
      black 30%
    ) !important;
    --toolbar-field-color: color-mix(
      in srgb,
      var(--zen-primary-color) 40%,
      black 60%
    ) !important;
    .tabbrowser-tab {
      color: #2b5718 !important;
    }
    .tabbrowser-tab:is([visuallyselected], [multiselected]) {
      color: #0a1f00 !important;
    }
  }
}
