
@media not (-moz-bool-pref: "zen.view.compact") {   
    #tabbrowser-tabpanels {
        & .browserSidebarContainer:not([zen-split="true"]) {
            --zen-webview-border-radius: var(--zen-border-radius) 0 0 0;
            --zen-element-separation: 0;
        }
    }

    @media (-moz-bool-pref: "zen.tabs.vertical.right-side") {
        #tabbrowser-tabpanels {
            & .browserSidebarContainer:not([zen-split="true"]) {
                --zen-webview-border-radius: 0 var(--zen-border-radius) 0 0;
            }
        }
    }
}
